html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 16px;  
  line-height: 2;
  letter-spacing: 1px;
}


html {
  background-color: #00539F;
}

body {
  width: 600px;/*强制页面宽为600像素*/
  margin: 0 auto;/*margin: 0 auto; — 当你在像 margin 或 padding 这样的属性中设置两个值时，第一个值代表元素的上方和下方（在这个例子中设置为 0），而第二个值代表左边和右边（在这里，auto 是一个特殊的值，意思是水平方向上左右对称）。你也可以使用一个，三个或四个值，*/
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;  
  color: #00539F;
  text-shadow: 3px 3px 1px black;/*第一个像素值设置了水平对齐——它的横向偏移；一个负值会导致向左偏移。
第二个像素值设置了垂直对齐——它的纵向偏移；一个负值会导致向上偏移。
第三个像素值设置了阴影的模糊半径——越大的值会产生越模糊的阴影。
第四个值设置了阴影的基色。*/
}

img {
  display: block;/* <body> 元素是块级元素，意味着它占据了页面的空间并且能够赋予外边距和其他改变间距的值。与之对应的是行内元素，意味着它不能。所以为了使图像有外边距，我们必须使用 display: block 给予其块级行为。*/


  margin: 0 auto;
}